---
title: false
styles: true
---

@import "alembic";

h1 {
  font-size: 1.6em;
  margin: 0.67em 0;
}

.content {
  @include breakpoint(break-1) {
    width: 80%;
  }
}

.typeset ul li, .typeset ol li {
    margin-left: 1em;
}

